<section class="cursos indigo lighten-5">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4>
					Lista de cursos
				</h4>
			</div>
			<ul class="collection">
				<ng-container *ngFor="let curso of cursos">
					<li class="collection-item avatar">
						<span class="title">{{curso.nombre}}</span>
						<p class="inf"><span *ngIf="curso.activo">Activo</span>
							<span *ngIf="!curso.activo">Inactivo</span><br>
							Fecha de cierre: {{curso.fechafin}}
						</p>
						<a routerLink="/crear/{{curso.id}}" class="secondary-content editIcon"><i class="material-icons">create</i></a>
					</li>
				</ng-container>
			</ul>
		</div>
	</div>
</section>