.cursos	{
	padding: 2em 0;
}

.collection .collection-item {
    background-color: #c5cae9;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #9fa8da;
}
.editIcon {
	color: #3d5afe;
}
.inf {
	color: #3949ab;
}

.title {
	color: #1a237e;
	font-size: 1.3em !important;
	font-weight: 500;
}