<section class="form-u indigo darken-4">
	<div class="formBox z-depth-3 indigo darken-2">
		<h4 class="center-align">
			Agregar Usuario
		</h4>
		<div class="input-field col s12">
			<input id="email" type="email" class="validate" placeholder="Ingresa tu Email" [(ngModel)]="registro.email">
			<label for="email">Email</label>
		</div>
		<div class="input-field col s12">
			<input id="password" type="password" class="validate" placeholder="Ingresa tu Contraseña" [(ngModel)]="registro.password">
			<label for="password">Contraseña</label>
		</div>
		<div class="col s12">
			<button class="btn indigo accent-3" (click)="registrar()">Agregar</button>
		</div>
	</div>
</section>